@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 0;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: rgb(31, 31, 31);
}

/* Width */
::-webkit-scrollbar {
    background-color: rgb(44, 44, 44);
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: aquamarine;
}

/* Handle Hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(78, 202, 160);
}


#nav-bar-wrapper {
    background-color: rgb(38, 38, 38, 255);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 8vh;
    transition-property: background-color;
    transition-duration: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 999;
}

#nav-bar-list {
    padding-right: 5vw;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    gap: 4vw;
    color: rgb(251, 246, 229);
}

#nav-bar-list a {
    font-size: 2.1vh;
    font-weight: 600;
}

.styled-list {
    list-style-type: none;
}

.styled-link {
    transition-property: color;
    transition-duration: 0.4s;
}

.styled-button {
    background-color: rgb(0,0,0,0);
    border: 0px;
}

.styled-button h1 {
    color: rgb(251, 246, 229);
    transition-property: color;
    transition-duration: 0.4s;
}

.styled-button:hover {
    cursor: pointer;
}

.styled-button:hover h1 {
    color: aquamarine;
}

.styled-link:link {
    color: rgb(251, 246, 229);
    text-decoration: none;
}

.styled-link:visited {
    color: rgb(251, 246, 229);
    text-decoration: none;
}

.styled-link:hover {
    color: aquamarine;
    text-decoration: none;
}

.styled-link:active {
    color: rgb(251, 246, 229);
    text-decoration: none;
}

.text-wrapper {
    background-color:rgb(14, 14, 14);
    resize: vertical;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fixed-button {
    position: relative;
    box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 0.3s;
}   

.fixed-button:hover {
    cursor: pointer;
}

.fixed-button a {
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    font-weight: 700;
}

.fixed-button p {
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    font-weight: 700;
}

.floating-button {
    transform-origin: center;
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}


.space-small {
    height: 50vh;
}

/* Animations */
@keyframes floating { 
    0%, 100% {transform: translateY(0px);} 
    50% {transform: translateY(15px);} 
 }